<div class="contents row">
  <div class="container">
    <h2>新規会員登録</h2>
    <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :ニックネーム %> <em></em><br />
        <%= f.text_field :nickname, autofocus: true, maxlength: "10" %>
      </div>


      <div class="field">
        <%= f.label :メールアドレス %><br />
        <%= f.email_field :email %>
      </div>

      <div class="field">
        <%= f.label :パスワード %>
        <% if @validatable %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :パスワード・確認用 %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

<p>本人確認</p>
<p>安全・安全にご利用いただくために、お客様の本人</p>
<p>情報の登録にご協力ください。他のお客様に公開さ</p>
<p>れることはありません</p>

<p>お名前（全角）</p>
       <div class="field">
        <%= f.label :性 %><br />
        <%= f.text_field :family_name, autofocus: true %>
       </div>

       <div class="field">
        <%= f.label :名 %><br />
        <%= f.text_field :first_name, autofocus: true %>
       </div>
<p>お名前カナ（全角）</p>
       <div class="field">
        <%= f.label :性 %><br />
        <%= f.text_field :family_name_kana, autofocus: true %>
       </div>

       <div class="field">
        <%= f.label :名 %><br />
        <%= f.text_field :first_name_kana, autofocus: true %>
       </div>


       <div class="field">
        <%= f.label :生年月日 %><br />
        <%= f.date_select :birth_date, use_month_numbers: true,start_year: 1930, end_year: (Time.now.year - 10), default: Date.new(1989, 1, 1)%>
       </div>
<p>※本人情報は正しく入力してください。会員登録後、</p>
<p>修正するにはお時間を頂く場合があります。</p>
      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>
  </div>
</div>
