.FormWrapper
  .FormList
    = form_with model: @item, local: true, class:"Form" do |f|
      .FormItem
        .FormItem__title= label :image_item, '商品名'
        %span.require 必須
        %p 最大５枚までアップロードできます
        #image-box
          #image-box__container
            = f.fields_for :item_images do |i|
              = i.file_field :image_url, type: 'file', name: "item[item_images_attributes][][image_url]", value:"", style: "display:none", id:"img-file"
              %label{for: "img-file"}
                %i.fas.fa-camera
                %p.imageText
                  ドラッグアンドドロップ 
                  %br
                  またはクリックしてファイルをアップロード
      .FormItem
        .FormItem__title= label :name, '商品名'
        = f.text_field :name, class: "FormItem__input", placeholder: "商品名を入力"
      .FormItem
        .FormItem__title= label :introduction, '商品説明'
        = f.text_area :introduction, class: 'FormItem__input inputtext', placeholder: "商品説明を入力"
      .FormItem
        .FormItem__title= label :category, 'カテゴリー'
        = f.select :category, [["服", 0],["おもちゃ", 1]], include_blank: "選択して下さい", class: 'FormItem__input'
      .FormItem
        .FormItem__title= label :condition, '商品の状態'
        = f.select :condition, [["新品、未使用", "新品、未使用"],["未使用に近い", "未使用に近い"],["目立った傷や汚れなし", "目立った傷や汚れなし"],["やや傷や]汚れあり", "やや傷や汚れあり"],["傷や汚れあり", "傷]や汚れあり"],["全体的に状態が悪い", "全体]的に状態が悪い"]], include_blank: "選択して下さい", class: 'FormItem__input'
      .FormItem
        .FormItem__title= label :postage_payer, '配送料の負担'
        = f.select :postage_payer, [["送料込み(出品者負担)", "送料込み(出品者負担)"],["着払い(購入者負担)", "着払い(購入者負担)"]], include_blank: "選択して下さい", class: 'FormItem__input'
      .FormItem
        .FormItem__title= label :prefecture, '発送元の地域'
        = f.select :prefecture, [["東京", "東京"],["沖縄", "沖縄"]], include_blank: "選択して下さい", class: 'FormItem__input'
      .FormItem
        .FormItem__title= label :standby_day, '発送までの日数'
        = f.select :standby_day, [["１〜２日で発送", "１〜２日で発送"],["２〜３日で発送", "２〜３日で発送"],["４〜７日で発送", "４〜７日で発送"]], include_blank: "選択して下さい", class: 'FormItem__input'
      .FormItem
        .FormItem__title= label :price, '値段'
        = f.text_field :price, class: "FormItem__input", placeholder: "値段を入力"
      .FormItem
        .Form__sendBtn
          = f.submit "出品する", class: "btn"